# Data Input and Validation

In [ ]:
#input a file- it can be done by using pandas.read_filetype('filename')
#The read command can also be used for skipping. rows, showing some rows, etc

In [10]:
import pandas as pd
#skipping 5 rows
oo=pd.read_csv('pokemon_data.csv',skiprows=4) 
oo

,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80.1,1,FALSE
0,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
1,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
2,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
3,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
4,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
791,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
792,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
793,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
794,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
795,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Shape

In [7]:
#shape- it will give the output as the number of rows and columns can be used with the command DataFrame.shape
oo.shape
#number of rows
oo.shape[0]
#number of columns
oo.shape[1]

12

# Head and Tail

In [8]:
#the head and tail command will give the output as the top or bottom rows depending on your input number(the defalut will be 5 if the number is notspecified)
oo.head()

,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80.1,1,FALSE
0,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
1,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
2,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
3,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
4,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [9]:
oo.tail(9)

,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80.1,1,FALSE
787,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
788,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
789,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
790,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
791,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
792,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
793,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
794,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
795,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Info

In [10]:
#info-this states the information about the dataframe and can be run by using the command DataFrame.info()
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796 entries, 0 to 795
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   3                      796 non-null    int64
 1   VenusaurMega Venusaur  796 non-null    object
 2   Grass                  796 non-null    object
 3   Poison                 410 non-null    object
 4   80                     796 non-null    int64
 5   100                    796 non-null    int64
 6   123                    796 non-null    int64
 7   122                    796 non-null    int64
 8   120                    796 non-null    int64
 9   80.1                   796 non-null    int64
 10  1                      796 non-null    int64
 11  FALSE                  796 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.3+ KB